:root {
    --primary-color: #5265b8;
    --secondary-color: #000000;
    --background-color: #3b74dd;
    --third-color: #45a049;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    background-image: url('bg-image.png');
    background-size: cover;
    animation: fadein 0.9s ease-in-out;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    animation: fadein 0.9s ease-in-out;

}

.column {
    background-color: #4b4242;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 10px;
    margin: 0 10px;
    text-align: center;

}

.column-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--primary-color);
}



li {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    padding: 10px;
    color: white;
    transition: background-color 0.3s ease;
    list-style-type: none;

    /*Glassmorphism nas caixas de tarefas*/
    background: rgba(255, 255, 255, 0.18);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.9px);
    -webkit-backdrop-filter: blur(3.9px);
    border: 1px solid rgba(255, 255, 255, 0.38);

}

.row {
    color: #3b74dd;
    width: 10;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.row button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: var(--third-color) 0.3s ease;
    margin-top: 20px;

}


li.completed>span {
    text-decoration: line-through;
    color: #aaa;
}


/* propriedade de estilo do arrastar taskItem criado no js */
.dragging {


}


/* Formulário que abre quando clica no botão add task */
#form-task {
    background-color: red;
    align-items: center;
    justify-content: center;
}

/* Botão de deletar */
.delete-btn {

}